<p id="cor">
  Quando se trata de um lugar divertido e mágico para desfrutar com a família, não há nada melhor
  do que a Freddy Fazbear's Pizzaria. Este lugar é uma verdadeira festa para as crianças, mas não
  é apenas para elas. Os adultos também podem se divertir com jogos emocionantes e uma excelente
  variedade de opções deliciosas no menu. Todos os pratos são preparados com ingredientes frescos,
  garantindo que cada mordida seja saborosa e deliciosa. Então, se estiver procurando uma maneira
  única de passar uma tarde, não deixe de visitar a Freddy Fazbear's Pizzaria. É diversão garantida
  para todas as idades!
</p>

<img id="ft1" src="" alt="">
<img id="ft2" src="" alt="">

<p id="cor">
  Na Freddy Fazbear's Pizzaria, nós valorizamos muito a importância da família e dos laços familiares.
  Por isso, criamos interações exclusivas entre nossos animatronics e seus filhos, buscando fortalecer
  ainda mais esses vínculos. Afinal, nossa filosofia é simples: sua família é a nossa família. Dessa
  forma, além de proporcionar momentos divertidos e inesquecíveis em nossas atrações, também
  contribuímos para a construção de relações afetuosas e duradouras entre pais e filhos. E isso é algo
  que nos enche de orgulho aqui na Freddy Fazbear's Pizzaria. Então, se você está buscando uma forma
  divertida e agradável de unir ainda mais sua família, não deixe de nos visitar. Estaremos sempre
  prontos para recebê-los de braços abertos.
</p>


<p id="cor">
  Se você já teve a oportunidade de conhecer a Freddy Fazbear's Pizzaria, com certeza já sabe do que
  estou falando. As pizzas servidas neste local são únicas, não apenas no sabor, mas na experiência
  que elas representam. Cada ingrediente é preparado com um mix de temperos que só os chefs da casa
  conhecem, e mais do que isso, cada pizza é feita com um ingrediente especial que não pode faltar:
  o carinho. É possível sentir a diferença em cada pedaço, seja pelas bordas crocantes ou pelo sabor
  mais intenso de cada ingrediente. É isso que torna as pizzas da Freddy Fazbear's Pizzaria tão
  especiais, um toque de amor em cada pedaço. Se você ainda não teve a chance de experimentar, não
  deixe de fazer uma visita para conhecer essa pizza incrível.
</p>
