<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="">
          <img class="logo" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8c6b417b-81de-44cd-a582-c4a9fd812ec6/dbd1ewx-e5d1b6f9-ddc5-44d8-8318-b4541eba1c41.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhjNmI0MTdiLTgxZGUtNDRjZC1hNTgyLWM0YTlmZDgxMmVjNlwvZGJkMWV3eC1lNWQxYjZmOS1kZGM1LTQ0ZDgtODMxOC1iNDU0MWViYTFjNDEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CzcgheRE8g16Gim29bPmIDFpoSV0FM7DQRkjKE8yhd8
          " width="200" height="100" alt="">
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="">Home</a>
                  <a class="nav-link" href="sobre">Sobre</a>
                  <a class="nav-link" href="cardapio">Cardápio</a>
                  <a class="nav-link" href="#reservas">Reservas</a>
              </div>
          </div>
      </div>
  </nav>
</header>
<p></p>

<router-outlet></router-outlet>

<footer id="footer" class="text-center text-white">
  <div class="container p-4 pb-0">
    <div class="mb-4">

      <a class="btn btn-outline-light btn-floating m-1" target="blank" href="https://wa.me/ +55(180) 4002-8922" role="button">
        <i class="fab fa-whatsapp">
          <img src="./sociais/whatsapp.png" alt="">
        </i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" target="blank" href="https://www.instagram.com/fazbearspizzaria/" role="button">
        <i class="fab fa-instagram">
          <img src="./sociais/insta.png" alt="">
        </i>
      </a>
    </div>
  </div>

  <div class="text-center p-3">
    © 2023 Freddy Fazbear's Pizzaria:
    <a class="text-white"> Desenvolvido por SarahSSM1.</a>
</div>
</footer>
