body{
  background-color: #232023;
}

#apresentacao{
  color: beige;
  background-color: #403742dd;
}

#cor{
  color: beige;
}

.preto{
  color: rgb(15, 13, 13);
}

iframe.localizacao {
  width: 99%;
}


