<body class="backGround">
  <main class="paginaConteudo">
      <div class="containerBg">
          <article class="rows">
            <div id="apresentacao" class="col-lg-6">
              <h1 class="nome">Bem-vindos à Freddy Fazbear's Pizzaria</h1>
              <h6 class="ds">

                  A Freddy Fazbear's é um lugar mágico para as crianças e
                  igualmente aos adultos, onde a fantasia e diversão ganham
                  vida. O cardápio apresenta pratos com os ingredientes mais
                  frescos para dar mais sabor e animação à sua familia.

                  Junte-se a nós hoje mesmo!

              </h6>
            </div>
            <div>
              <img class="col-lg-11 set" src="/assets/img/banner-descrição.jpg" alt="">
            </div>
          </article>
      </div>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

      <div id="sobre" class="container sectionBG carrossel">
        <article class="branco">
            <div class="quemSomos">
              <div class="posicao" >
                <h2 class="titulo apresentacao">Quem Somos</h2>
                <p>
                  <span class="descricao apresentacao">
                    Começamos nosso negócio em 1973 com um objetivo em mente:
                    Tudo na Fazbear é pensado para para proporcionar uma experiência inesquecível e repleta de
                    diversão, em um ambiente temático, fazendo com que você viva uma verdadeira imersão em um mundo de muitas
                    aventuras, alegrias e sabores.
                    Queremos ir além, sempre oferecendo a pessoas de todas as idades a oportunidade de degustar refeições
                    deliciosas, shows recreativos, interações exclusivas de nosso animatronics com seus filhos, e fortalecendo e
                    valorizando vínculos familiares. Afinal, sua família é a nossa família.
                  </span>
                </p>
                <div class="col-md-2 botao">
                  <button id="sobreButton" name="sobreButton" class="btn btn-success">Saiba mais</button>
              </div>
              </div>
            </div>
          </article>
    </div>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

      <section id="gallery">
       <h2 id="cor" >Nossas Franquias</h2>
        <div id="gallery-container">
            <img src="/assets/img/circus_babys_pizza_world.png" alt="" class="gallery-image" >
            <img src="/assets/img/freddy_fazbears_family_dinner.png" alt="" class="gallery-image">
            <img src="/assets/img/freddy_fazbears_pizza_toy.png" alt="" class="gallery-image">
            <img src="/assets/img/mega_pizzaplex_logo.png" alt="" class="gallery-image">
        </div>
      </section>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

      <section id="cor"class="container sectionBG sectionProdutos">
          <h2>Nossas Especialidades</h2>
          <article class="row">
            <img class="col-lg-6" src="\assets\img\pizza3.png" alt="Pizza">
              <div class="col-lg-7 cardComida">
                  <h4 class="titulo">Pizzas</h4>
                  <p id="tabela" class="descricao">
                    Sabe aquela sensação de estar em casa quando come uma pizza? Pois é, é exatamente
                    isso que a Freddy Fazbear's Pizzaria busca proporcionar aos seus clientes. Além de
                    ingredientes frescos e saborosos, as pizzas são preparadas com um tempero especial:
                    o carinho. É como se cada fatia fosse feita especialmente para você, com todo o cuidado
                    e atenção necessários. E não é à toa que a pizzaria é um sucesso, afinal, quem não gosta
                    de se sentir acolhido em um ambiente tão aconchegante? Então, se você quer experimentar
                    uma pizza de qualidade, com um toque especial de amor, não deixe de visitar a
                    Freddy Fazbear's Pizzaria. Garantimos que você não vai se arrepender!
                  </p>
              </div>
          </article>

          <article class="row">
              <div class="col-lg-7 cardComida2">
                 <h4 class="titulo">Lanches & Porções</h4>
                  <p class="descricao">
                    conhecido por seus lanches incríveis e porções deliciosas, com opções para todos
                    os gostos, que satisfazem a fome de qualquer pessoa. O cardápio varia desde
                    hambúrgueres suculentos até nuggets crocantes e batatas fritas saborosas,
                    tudo preparado com ingredientes frescos para garantir o melhor sabor e qualidade.
                  </p>
              </div>
          </article>
      </section>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

      <div id="reservas" class="container formularioReservas sectionBG">
          <form id="cor" class="form-horizontal">
              <fieldset>
                  <!-- Form Name -->
                  <legend class="nomeFormulario">
                      <h2>Reservas</h2>
                  </legend>

                  <!-- Text input-->
                  <div class="row">
                      <div class="col-md-2">
                          <input id="dataInput" name="dataInput" type="date" class="form-control input-md"
                              required="">
                      </div>
                      <div class="col-md-2">
                          <select id="horaSelect" name="horaSelect" class="form-control">
                              <option value="">Horário</option>
                              <option value="1h">18:30</option>
                              <option value="2h">19:00</option>
                              <option value="3h">19:30</option>
                              <option value="4h">20:00</option>
                              <option value="5h">20:30</option>
                              <option value="6h">21:00</option>
                              <option value="7h">21:30</option>
                              <option value="8h">22:00</option>
                          </select>
                      </div>
                      <div class="col-md-2">
                          <select id="pessoasSelect" name="pessoasSelect" class="form-control">
                              <option value="">Número de pessoas</option>
                              <option value="2">2 pessoas</option>
                              <option value="3">3 pessoas</option>
                              <option value="3">4 pessoas</option>
                              <option value="3">5 pessoas</option>
                              <option value="6">6 a 10 pessoas</option>
                          </select>
                      </div>
                      <div class="col-md-2">
                          <button id="reservaButton" name="reservaButton" class="btn btn-success">Reserve já!</button>
                      </div>
                  </div>
              </fieldset>
          </form>
      </div>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

      <div id="maps" class="container">
        <div>
          <iframe class="localizacao" title="localizacao"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5473.392419832861!2d-105.00293552489936!3d39.653376136972135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c807708291613%3A0x497b416c1c776628!2sChuck%20E.%20Cheese!5e0!3m2!1spt-BR!2sbr!4v1679441048010!5m2!1spt-BR!2sbr"
          width="1333" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
  </main>


