<body class="backGround">

  <main class="paginaConteudo">
      <div class="containerBg">
          <article class="rows">
            <div id="apresentacao" class="col-lg-6">
              <h1 class="nome">Bem-vindos à Freddy Fazbear's Pizzaria</h1>
              <h6 class="ds">

                  A Freddy Fazbear's é um lugar mágico para as crianças e
                  igualmente aos adultos, onde a fantasia e diversão ganham
                  vida. O cardápio apresenta pratos com os ingredientes mais
                  frescos para dar mais sabor e animação à sua familia.

                  Junte-se a nós hoje mesmo!

              </h6>
            </div>
            <div class="">
              <img class="col-lg-11 set" src="/assets/img/banner-descrição.jpg" alt="">
            </div>
          </article>
      </div>

      <div id="cor" class="container sectionBG carrossel">
        <h2 id="cor" >Nossas Franquias</h2>
          <article class="">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <img src="/assets/img/circus_babys_pizza_world.png" class="d-block w-50" alt="foto1">
                      </div>
                      <div class="carousel-item">
                          <img src="/assets/img/freddy_fazbears_family_dinner.png" class="d-block w-50" alt="foto2">
                      </div>
                      <div class="carousel-item">
                          <img src="/assets/img/freddy_fazbears_pizza_toy.png" class="d-block w-50" alt="foto3">
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/img/mega_pizzaplex_logo.png" class="d-block w-50" alt="foto4">
                    </div>
                  </div>
              </div>

              <div class="quemSomos">
                <div class="posicao" >
                  <h2><span class="titulo cor">Quem Somos</span></h2>
                  <p>
                    <span class="descricao cor">
                      Começamos nosso negócio em 1973 com um objetivo em mente:
                      Tudo na Fazbear é pensado para para proporcionar uma experiência inesquecível e repleta de
                      diversão,
                      em um ambiente temático, fazendo com que você viva uma verdadeira imersão em um mundo de muitas
                      aventuras, alegrias e sabores.
                      Queremos ir além, sempre oferecendo a pessoas de todas as idades a oportunidade de degustar refeições
                      deliciosas,
                      shows recreativos, interações exclusivas de nosso animatronics com seus filhos, e fortalecendo e
                      valorizando vínculos familiares.
                      Afinal, sua família é a nossa família.
                    </span>
                  </p>
                </div>
              </div>
            </article>
      </div>



      <section id="cor"class="container sectionBG sectionProdutos">
          <h2>Nossas Especialidades</h2>
          <p><span>Saboreie esta delícia</span> </p>
          <article class="row">
              <img class="col-lg-6" src="./img/pizza.jpeg" alt="Pizzas">
              <div class="col-lg-6 cardComida">
                  <h2><span class="titulo">Pizzas</span></h2>
                  <p> <span class="descricao">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error aut
                          saepe fugiat! Fuga quod, fugit suscipit sed consequatur, maxime nam odio esse natus
                          consequuntur quam nesciunt at dolor maiores accusantium.</span></p>
                  <p><span></span></p>
              </div>
          </article>

          <article class="row">
              <img class="col-lg-6" src="./img/calzone.jpeg" alt="">
              <div class="col-lg-6 cardComida">
                  <h2><span class="titulo">Calzone & Fogazza</span></h2>
                  <p><span class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nobis
                          aperiam nulla eos illum veniam voluptatibus consequuntur magnam quod fugit porro quibusdam
                          voluptatem rerum harum, incidunt modi tempore libero explicabo.</span> </p>
                  <p></p>
              </div>
          </article>

          <article class="row">
              <img class="col-lg-6" src="./img/lanches.jpg" alt="">
              <div class="col-lg-6 cardComida">
                  <h2><span class="titulo">Lanches & Porções</span></h2>
                  <p><span class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem odio
                          corrupti repellat maiores aut! Soluta, architecto vero distinctio delectus illo eum sint
                          voluptates explicabo earum aut praesentium incidunt est odit.</span></p>
                  <p></p>
              </div>
          </article>
      </section>

      <div id="reservas" class="container formularioReservas sectionBG">

          <form id="cor" class="form-horizontal">
              <fieldset>
                  <!-- Form Name -->
                  <legend class="nomeFormulario">
                      <h2>Reservas</h2>
                  </legend>

                  <!-- Text input-->
                  <div class="row">
                      <div class="col-md-2">
                          <input id="dataInput" name="dataInput" type="date" class="form-control input-md"
                              required="">
                      </div>
                      <div class="col-md-2">
                          <select id="horaSelect" name="horaSelect" class="form-control">
                              <option value="">Horário</option>
                              <option value="1h">18:30</option>
                              <option value="2h">19:00</option>
                              <option value="3h">19:30</option>
                              <option value="4h">20:00</option>
                              <option value="5h">20:30</option>
                              <option value="6h">21:00</option>
                              <option value="7h">21:30</option>
                              <option value="8h">22:00</option>
                          </select>
                      </div>
                      <div class="col-md-2">
                          <select id="pessoasSelect" name="pessoasSelect" class="form-control">
                              <option value="">Número de pessoas</option>
                              <option value="2">2 pessoas</option>
                              <option value="3">3 pessoas</option>
                              <option value="3">4 pessoas</option>
                              <option value="3">5 pessoas</option>
                              <option value="6">6 a 10 pessoas</option>
                          </select>
                      </div>
                      <div class="col-md-2">
                          <button id="reservaButton" name="reservaButton" class="btn btn-success">Reserve já!</button>
                      </div>
                  </div>
              </fieldset>
          </form>
      </div>

      <section id="cor" class="container sectionBG sectionPadding">
          <div class="row">
              <div class="col-lg-6 visite-nos">
                  <h2><span>Visite-nos</span></h2>
                  <p><span>Rua Ângelo Strapasson Costa, 752.</span></p>
                  <p><span>Centro, Colombo-PR, 83414-230.</span></p>
              </div>
              <img class="col-lg-6 visite-nosImg"
                  src="https://i.pinimg.com/originals/f4/c4/dd/f4c4dd578a2de06fb755fb7ac39910e7.jpg"
                  alt="Pizzaria Nova Casa">
          </div>
      </section>
      <div id="maps" class="container">
        <div>
          <iframe class="localizacao" title="localizacao"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5473.392419832861!2d-105.00293552489936!3d39.653376136972135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c807708291613%3A0x497b416c1c776628!2sChuck%20E.%20Cheese!5e0!3m2!1spt-BR!2sbr!4v1679441048010!5m2!1spt-BR!2sbr"
          width="600" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
  </main>


